@page
@model IndexModel
@{
    ViewData["Title"] = "WeatherChecker";

}
<h1 > Welcome to Weather Checker!</h1 >
<head>
    <link rel="stylesheet" href="site.css">
</head>




<form>
    
    <div>
        
        <h2 for="locInp" class="form-label" style="color:white;">Where are you?</h2>
    <input type ="text" id="locInp" class="form-control"/>
    </div>

    <div>
        <h2 for="findDate" class="form-label" style="color:white;">What date are you looking for?</h2>
    <input type="date" id="findDate"/>
    </div>

    
    <button type="button"
            onclick="document.getElementById('demo').innerHTML = Date()">
        Click to Display Date and Time.
    </button>
    <p id="demo"></p>
    
    

    <div>
    <a href="/SearchResults" button class="btn btn-primary">Search Results</a>
    </div>
    

</form>