@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<h1></h1>



<form>
    
    <div>
        
        <label for="locInp" class="form-label">Where are you?</label>
    <input type ="text" id="locInp" class="form-control"/>
    </div>

    <div>
    <label for="findDate" class="form-label">What date are you looking for?</label>
    <input type="date" id="findDate"/>
    </div>

  <div>
    <a href="/SearchResults" button class="btn btn-primary">Search Results</a>
    </div>

</form>